<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UpdateScript</key>
		<string>http://atvusb-creator.googlecode.com/svn/tags/boxee-info/scripts/alpha-0.9.3383_update.sh</string>
		<key>URL</key>
		<string>http://dl.boxee.tv/boxee-atv.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>Name</key>
		<string>Boxee alpha 0.9.3383</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>XBMC/Boxee Launcher 0.2</string>
		<key>Type</key>
		<string>Launcher</string>
		<key>URL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/XBMCLauncher-0.2-debug.run</string>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/xbmc-info/scripts/launcher-update-0.2.sh</string>
		<key>MD5</key>
		<string>bd701a1ebc3d65b01ebf51652b3d9fbd</string>
	</dict>
</array>
</plist>
